@model WebApps.Models.doctors

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>doctors</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nameDoctors" class="control-label"></label>
                <input asp-for="nameDoctors" class="form-control" />
                <span asp-validation-for="nameDoctors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailDoctors" class="control-label"></label>
                <input asp-for="emailDoctors" class="form-control" />
                <span asp-validation-for="emailDoctors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneDoctors" class="control-label"></label>
                <input asp-for="phoneDoctors" class="form-control" />
                <span asp-validation-for="phoneDoctors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <input asp-for="gender" class="form-control" />
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="specialist" class="control-label"></label>
                <input asp-for="specialist" class="form-control" />
                <span asp-validation-for="specialist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
