@model WebApps.Models.Admins

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Admins</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idAdmin" />
            <div class="form-group">
                <label asp-for="nameAdmin" class="control-label"></label>
                <input asp-for="nameAdmin" class="form-control" />
                <span asp-validation-for="nameAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailAdmin" class="control-label"></label>
                <input asp-for="emailAdmin" class="form-control" />
                <span asp-validation-for="emailAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passwordAdmin" class="control-label"></label>
                <input asp-for="passwordAdmin" class="form-control" />
                <span asp-validation-for="passwordAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneAdmin" class="control-label"></label>
                <input asp-for="phoneAdmin" class="form-control" />
                <span asp-validation-for="phoneAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
