@model WebApps.Models.nurses

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>nurses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nameNurse" class="control-label"></label>
                <input asp-for="nameNurse" class="form-control" />
                <span asp-validation-for="nameNurse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailNurse" class="control-label"></label>
                <input asp-for="emailNurse" class="form-control" />
                <span asp-validation-for="emailNurse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passwordNurse" class="control-label"></label>
                <input asp-for="passwordNurse" class="form-control" />
                <span asp-validation-for="passwordNurse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNurse" class="control-label"></label>
                <input asp-for="phoneNurse" class="form-control" />
                <span asp-validation-for="phoneNurse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
